.fraction {
    display: inline-block;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
}

.fraction:before {
    border-bottom: 1px solid #000;
    content: attr(top);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
}

.fraction:after {
    content: attr(bottom);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
}

.contact-home {
    width: 100%;
    height: 50vh;
    background: url("../../assets/hero/conatct.png") no-repeat;
}

strong:hover {
    color: var(--danger);
    cursor: pointer;
}

.hoverr {
    cursor: pointer;
    padding: 10px 30px;
}

.hoverr:hover {
    background-color: #F38B88;
    -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.15);
    padding: 10px 30px;
    border-radius: 2px;
}

p {
    text-align: justify !important;
}

ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}