<div class="d-flex flex-column justify-content-center align-content-center" style="background: #fff !important; align-items: center;text-align: center;position: fixed;width: 100%;height: 100%;z-index: 9999;
" *ngIf="isLoading">
    <img src="../../assets/svg-btg.svg" alt="" class="img-fluid" style="width: 10% !important;height: auto;">
    <img src="../../assets/loaderred.gif" alt="" style="width: 7% !important;height: auto;">
</div>


<div *ngIf="!isLoading">
    <div *ngIf="showComingSoon" style="margin-top: 10rem;" class="container-fluid">

        <div class="row ">
            <div class="col-sm-3">
                <app-side-nav [catNameId]="catNameId" [productId]="productId" [subNameId]="subNameId" [catName]="catName" [subname]="subname" [level]="level"></app-side-nav>
            </div>
            <div class="col-sm-9">
                <app-coming-soon></app-coming-soon>
            </div>
        </div>
    </div>

    <div *ngIf="!showComingSoon">

        <div class="red-title-banner">
            <h2 class="text-white" [innerHTML]="productsData?.heading"> </h2>
        </div>
        <nav aria-label="breadcrumb" class="bread-crum">
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a routerLink="/catagory/1" [queryParams]="{name: catName , id:catNameId}">{{catName}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{treeName}}</li>
            </ol>
        </nav>



        <section style="padding: 0 0 50px 0;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <mat-accordian *ngFor="let main of sideNav.children">
                            <mat-expansion-panel [expanded]="main._id == productId || main._id == subNameId"
                                [hideToggle]="main.children.length == 0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title [class.active]="main._id == productId || main._id == subNameId">

                                            {{main.name}}


                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-accordian *ngFor="let sub of main.children">
                                    <mat-expansion-panel [expanded]="sub._id == productId || sub._id == subSubNameId"
                                        [hideToggle]="sub.children.length == 0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title
                                                [class.active]="sub._id == productId || sub._id == subSubNameId">
                                                {{sub.name}}
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <mat-accordian *ngFor="let pro of sub.children">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title
                                                        [class.active]="pro._id == productId || pro._id == subNameId">
                                                        {{pro.name}}
                                                    </mat-panel-title>

                                                </mat-expansion-panel-header>
                                            </mat-expansion-panel>
                                        </mat-accordian>
                                    </mat-expansion-panel>
                                </mat-accordian>
                            </mat-expansion-panel>
                        </mat-accordian> -->
                        <app-side-nav [catNameId]="catNameId" [productId]="productId" [subNameId]="subNameId" [catName]="catName" [subname]="subname" [level]="level"></app-side-nav>
                    </div>

                    <div class="col-sm-9">

                        <div class="row container">



                            <!-- Section One -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionOne?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionOne?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionOne?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionOne.replace('#no_red_card#', ' ')"></div>
                            <!-- Section One End -->

                            <!-- Section Two -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionTwo?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionTwo?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionTwo?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTwo.replace('#no_red_card#', ' ')"></div>
                            <!-- Section xTwo End -->

                            <!-- Section Three -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionThree?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionThree?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionThree?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionThree.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Three Emd -->

                            <!-- Section Four -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionFour?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionFour?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionFour?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionFour.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Four End -->

                            <!-- Section Five -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionFive?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionFive?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionFive?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionFive.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Five Emd -->

                            <!-- Section Six -->
                            <div style="text-align: justify;" *ngIf="!productsData?.sectionSix?.includes('Lorem Ipsum')" class="col-sm-6" [class.downloadCenter]="productsData?.sectionSix?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionFive?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionSix.replace('#no_red_card#', ' ') "></div>
                            <!-- Section Six End -->

                            <!-- Section Seven -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionSeven?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionSeven?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionSeven?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionSeven.replace('#no_red_card#', ' ') "></div>
                            <!-- Section Seven Emd -->

                            <!-- Section Eight -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionEight?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionEight?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionEight?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionEight.replace('#no_red_card#', ' ') "></div>
                            <!-- Section Eight End -->

                            <!-- Section Nine -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionNine?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionNine?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionNine?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionNine.replace('#no_red_card#', ' ') "></div>
                            <!-- Section Nine Emd -->

                            <!-- Section Ten -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionTen?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionTen?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionTen?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTen.replace('#no_red_card#', ' ') "></div>
                            <!-- Section Ten End -->

                            <!-- Section Eleven -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionEleven?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionEleven?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionEleven?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionEleven.replace('#no_red_card#', ' ') ">
                            </div>
                            <!-- Section Eleven Emd -->

                            <!-- Section Twelve -->
                            <div style="text-align: justify; " *ngIf="!productsData?.sectionTwelve?.includes( 'Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionTwelve?.includes('Download')" [class.hoverr]="(level==2 || level==3 ) && !(productsData?.sectionTwelve?.includes( '#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTwelve.replace('#no_red_card#', ' ') ">
                            </div>
                            <!-- Section Twelve End -->

                        </div>
                    </div>

                </div>


            </div>
        </section>




    </div>
</div>