<div class="red-title-banner">
    <h2 class="text-white">News and Press Release</h2>

</div>


<section style="padding: 100px 0;">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-sm-12 ">
                <div class="row mx-auto">

                    <div class="row">
                        <div *ngFor="let n of newsArray" class="col-sm-4" style="margin-bottom: 5rem;">
                            <div id="card" class="card" style="border: none !important;">
                                <div class="card-body">
                                    <h6 class="font-weight-bold card-title mb-5">{{ n.heading }}</h6>
                                    <div class="d-flex mb-4">
                                        <h6 style="font-size: 14px;"><i aria-hidden="true" class="fa fa-calendar-o text-danger" style="font-size: 20px;"></i> 26 Sep 2021</h6>

                                    </div>
                                    <p class="description" style="word-spacing: 0px;">{{ n.description }}</p>
                                    <a routerLink="/single_news/{{ n._id }}" class="card-link pb-4 float-right visit-site">View More</a>
                                </div>
                            </div>
                        </div>

                        <!--bindings={
                      "ng-reflect-ng-for-of": "[object Object],[object Object"
                    }-->
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<app-footer></app-footer>