<div class="red-title-banner">
    <h2 class="text-white"> See What We Do </h2>
</div>



<section style="padding: 50px 0;">
    <div class="container">
        <div class="row m-auto">
            <div class="col-sm-4 ">
                <div class="mx-4 my-4 pd-4">
                    <iframe src="https://www.youtube.com/embed/ImSbgKmKEhg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left font-weight-bold">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="mx-4 my-4 pd-4">
                    <iframe src="https://www.youtube.com/embed/ImSbgKmKEhg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left font-weight-bold">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="mx-4 my-4 pd-4">
                    <iframe src="https://www.youtube.com/embed/ImSbgKmKEhg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left font-weight-bold">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="mx-4 my-4 pd-4">
                    <iframe src="https://www.youtube.com/embed/ImSbgKmKEhg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h6 class="text-left font-weight-bold">BTG Learning Academy - CONSISTENCY</h6>
                    <p class="text-left">Learn about the importance of consistency in the paper-making process
                    </p>
                </div>
            </div>
            


        </div>

    </div>
</section>

<app-footer></app-footer>