<div class="d-flex flex-column justify-content-center align-content-center" style="align-items: center;text-align: center;position: fixed;width: 100%;height: 100%;z-index: 9999;
" *ngIf="loader">
    <img src="../../assets/svg-btg.svg" alt="" class="img-fluid" style="width: 10%;height: auto;">
    <img src="../../assets/loaderred.gif" alt="" style="width: 7%;height: auto;">
</div>

<div *ngIf="!loader">

    <nav aria-label="breadcrumb" class="bread-crum">
        <ol class="breadcrumb">

            <li class="breadcrumb-item active" aria-current="page">See What We Do</li>
        </ol>
    </nav>

    <div class="red-title-banner">
        <h2 class="text-white"> See What We Do </h2>
    </div>



    <section style="padding: 50px 0;">
        <div class="container">
            <div class="row m-auto">
                <div class="col-sm-4" *ngFor="let n of seeArray | paginate: { itemsPerPage: 9, currentPage: p }">
                    <div class="mx-4 my-4 pd-4">
                        <iframe [src]="sanitize(n.video_url)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <h6 class="text-left font-weight-bold">{{n.heading}}</h6>
                        <p class="text-left">{{n.description}}
                        </p>
                    </div>
                </div>

                <pagination-controls (pageChange)="p = $event" class="float-center mx-auto my-auto"></pagination-controls>


            </div>

        </div>
    </section>

    <!-- <app-footer></app-footer> -->
</div>