<div>

    <div class="red-title-banner">
        <h2 class="text-white">Compliance / Whistleblowing Scheme</h2>

    </div>
    <nav aria-label="breadcrumb" class="bread-crum">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a routerLink="/about">About</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compliance / Whistleblowing Scheme</li>
        </ol>
    </nav>
    <section style="padding: 50px 0;">
        <div class="container">

            <h2 class="mb-5">Compliance help desk</h2>

            <mat-tab-group>
                <mat-tab label="Asia">

                    <h5 class="text-danger mt-5" style="font-weight: 700;">Tingting Yu</h5>
                    <h6 class="my-3">Compliance Asia</h6>

                    <h6 class="text-danger">t +86 512 3663 5123</h6>
                    <h6 class="text-danger">f +86 512 3663 5123</h6>

                    <h6 style="font-size: 12px;" class="text-danger my-3">
                        m compliance.as@voith.com
                    </h6>

                </mat-tab>
                <mat-tab label="North America">
                    <h5 class="text-danger mt-5" style="font-weight: 700;">Tingting Yu</h5>
                    <h6 class="my-3">Compliance Asia</h6>

                    <h6 class="text-danger">t +86 512 3663 5123</h6>
                    <h6 class="text-danger">f +86 512 3663 5123</h6>

                    <h6 style="font-size: 12px;" class="text-danger my-3">
                        m compliance.as@voith.com
                    </h6>

                </mat-tab>
                <mat-tab label="South America">
                    <h5 class="text-danger mt-5" style="font-weight: 700;">Tingting Yu</h5>
                    <h6 class="my-3">Compliance Asia</h6>

                    <h6 class="text-danger">t +86 512 3663 5123</h6>
                    <h6 class="text-danger">f +86 512 3663 5123</h6>

                    <h6 style="font-size: 12px;" class="text-danger my-3">
                        m compliance.as@voith.com
                    </h6>

                </mat-tab>
                <mat-tab label="Austria">
                    <h5 class="text-danger mt-5" style="font-weight: 700;">Tingting Yu</h5>
                    <h6 class="my-3">Compliance Asia</h6>

                    <h6 class="text-danger">t +86 512 3663 5123</h6>
                    <h6 class="text-danger">f +86 512 3663 5123</h6>

                    <h6 style="font-size: 12px;" class="text-danger my-3">
                        m compliance.as@voith.com
                    </h6>

                </mat-tab>
                <mat-tab label="Germany and Rest of the World">
                    <h5 class="text-danger mt-5" style="font-weight: 700;">Tingting Yu</h5>
                    <h6 class="my-3">Compliance Asia</h6>

                    <h6 class="text-danger">t +86 512 3663 5123</h6>
                    <h6 class="text-danger">f +86 512 3663 5123</h6>

                    <h6 style="font-size: 12px;" class="text-danger my-3">
                        m compliance.as@voith.com
                    </h6>

                </mat-tab>
            </mat-tab-group>


        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <h2 class="my-3">Compliance / Whistleblowing Scheme</h2>


            <h6>
                Clear rules are important to us
            </h6>
            <h6>
                Trust and credibility are the basis of our business
            </h6>

            <p>The trust that we receive from our customers, owners, employees and the public depends critically on the conduct of each individual in the company. It is founded on strict compliance with the law and with all of our internal rules.</p><br>

            <p>
                We are aware of the responsibility to society, and we act accordingly. We recognize the duty of our company and our employees to serve the common good. The purpose of this Code of Conduct is therefore to summarize the norms that must be observed by all
                our employees worldwide in order to ensure the continuation of the company’s long tradition of honesty and decency.
            </p>
        </div>
    </section>

    <section style="padding: 50px 0;">
        <div class="container">
            <h2 class="my-3">Our whistleblower scheme</h2>



            <p>Our Compliance Management System aims to establish an active value system and reinforce the staff’s individual responsibility, going much further than straightforward compliance with legislation and regulations. This includes acting jointly
                to prevent and combat conduct that financially harms or discredits our company, staff or partners.</p><br>

            <p>
                Through the company-wide whistleblower scheme, we are providing all staff and external individuals with a mechanism to ensure that conduct within the company complies with the law and that breaches are detected.
            </p> <br>
            <p>
                If you discover wrongdoing, please do not be afraid to report it. Your superior as well as the personnel department, your compliance officer and any member of the Compliance Committee are available to help you with this.
            </p><br>
            <p>If you do not wish to speak to the people in these positions, or you wish your information to remain anonymous, you can contact the help desk staff listed below, who will naturally treat all information as confidential in accordance with the
                law.
            </p> <br>
            <p>Whistleblowers who report wrongdoings for ethical or moral reasons are not informers. They are giving significant assistance in safeguarding both our constitutional values and the values by which we work together in the company. Please bear
                in mind, however, that the statements you make about others could lead to decisions that will have consequences for these people. We ask that you only make information available to us which, to the best of your knowledge, is accurate.</p>
            <br>

            <p>With your help, therefore, criminal activities can be exposed at an early stage, offenders can be investigated and further harm can be avoided in the future.</p>

            <p>
                You can contact any of the people listed. At the very least English will be spoken along with the language of the country. Please note the normal office hours for the country in each case, as the contact persons are normally only available at those times.
            </p>
            <br>
            <p>
                Please note that, for the time being, our electronical whistleblower scheme is not yet in operation for information related to France, Norway and Sweden because the necessary authorizations from the authorities concerned in these countries are not yet
                fully in place. Once they are in place, it will be possible to use the whistleblower system in these countries too. Information passed on in a manner which disregards these rules will not be processed through the whistleblower scheme;
                any information submitted will be deleted or destroyed.

            </p>
        </div>
    </section>


    <section style="padding: 50px 0;">
        <div class="container">
            <h2>The Code of Conduct</h2>

            <p>Inform yourself about our standards and values. Here you can download our Code of Conduct.</p>

            <a href="" class="text-danger">Download the Code of Conduct</a>
        </div>
    </section>

</div>