<!-- <section id="about">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-dark">
                <div style="height: 75vh; background-image: url('../../../../assets/hero/hero1.png');background-size: cover ; background-repeat: no-repeat;  ">
                    <div class="container text-center slide1" style="position: relative; top: 50%;">

                        <h1>Export control compliance</h1>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section> -->
<div>


    <div class="red-title-banner">
        <h2 class="text-white">{{exportData[0]?.heading}}</h2>

    </div>
    <nav aria-label="breadcrumb" class="bread-crum">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a routerLink="/about">About</a></li>
            <li class="breadcrumb-item active" aria-current="page">Export control compliance</li>
        </ol>
    </nav>
    <section style="padding: 100px 0;">
        <div class="container">


            <div class="row mx-auto my-4" [innerHTML]="exportData[0]?.content">



            </div>
        </div>
    </section>
</div>
<!-- <app-footer></app-footer> -->