<div class="d-flex flex-column justify-content-center align-content-center" style="background: #fff; align-items: center;text-align: center;position: fixed;width: 100%;height: 100%;z-index: 9999;
" *ngIf="isLoading">
    <img src="../../assets/svg-btg.svg" alt="" class="img-fluid" style="width: 10%;height: auto;">
    <img src="../../assets/loaderred.gif" alt="" style="width: 7%;height: auto;">
</div>


<div *ngIf="!isLoading">
    <div *ngIf="showComingSoon">
        <app-coming-soon></app-coming-soon>
    </div>

    <div *ngIf="!showComingSoon">

        <div class="red-title-banner">
            <h2 class="text-white" [innerHTML]="productsData.heading"> </h2>
        </div>

        <nav aria-label="breadcrumb" class="bread-crum">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/catagory/1"
                        [queryParams]="{name: catName , id:catNameId}">{{catName}}</a></li>
                <li class="breadcrumb-item"><a routerLink="/subcatagory/{{subNameId}}"
                        [queryParams]="{catname : catName , subname:subName}">{{subName}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{subSubName}}</li>
            </ol>
        </nav>

        <section style="padding: 0 0 50px 0;">
            <div class="">
                <div class="row mx-auto">

                    <div class="col-sm-2">

                        <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
                            <!-- This is the tree node template for leaf nodes -->
                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                <!-- use a disabled button to provide padding for tree leaf -->
                                <button mat-icon-button disabled></button> {{node.name}}
                            </mat-tree-node>
                            <!-- This is the tree node template for expandable nodes -->
                            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button> {{node.name}}
                            </mat-tree-node>
                        </mat-tree>
                    </div>

                    <div *ngIf="productId != '60c863a48f264800152a3851' || productId == '60c8634f8f264800152a3837'" class=" col-sm-10">

                        <div class="row container">
                            <!-- Section One -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionOne.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionOne"></div>
                            <!-- Section One End -->

                            <!-- Section Two -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionTwo.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionTwo"></div>
                            <!-- Section Two End -->

                            <!-- Section Three -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionThree.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionThree"></div>
                            <!-- Section Three Emd -->

                            <!-- Section Four -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionFour.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionFour"></div>
                            <!-- Section Four End -->

                            <!-- Section Five -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionFive.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionFive"></div>
                            <!-- Section Five Emd -->

                            <!-- Section Six -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionSix.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionSix"></div>
                            <!-- Section Six End -->

                            <!-- Section Seven -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionSeven.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionSeven"></div>
                            <!-- Section Seven Emd -->

                            <!-- Section Eight -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionEight.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionEight"></div>
                            <!-- Section Eight End -->

                            <!-- Section Nine -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionNine.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionNine"></div>
                            <!-- Section Nine Emd -->

                            <!-- Section Ten -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionTen.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionTen"></div>
                            <!-- Section Ten End -->

                            <!-- Section Eleven -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionEleven.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionEleven"></div>
                            <!-- Section Eleven Emd -->

                            <!-- Section Twelve -->
                            <div style="text-align:justify;" *ngIf="!productsData.sectionTwelve.includes('Lorem Ipsum')"
                                class="col-sm-6 " [class.hoverr]="level == 2 || level == 3"
                                [innerHTML]="productsData.sectionTwelve"></div>
                            <!-- Section Twelve End -->
                        </div>

                    </div>

                    <div *ngIf="productId == '60c863a48f264800152a3851' || productId == '60c8634f8f264800152a3837'" _ngcontent-jnw-c35=""
                        class="container col-sm-10">
                        <div _ngcontent-jnw-c35="" class="row mx-auto">
                            <div _ngcontent-jnw-c35="" class="col-sm-6"><img _ngcontent-jnw-c35=""
                                    src="../../assets/instrument-new.png" alt="" class="img-fluid"></div>
                            <div _ngcontent-jnw-c35="" class="col-sm-6">
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mek-3000.png"
                                                    style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                MEK-3000 </a></figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/act-2500.png"
                                                    style="width: 50px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                ACT-2500 </a></figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mbt-2500.png"
                                                    style="width: 90px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                MBT-2500 </a></figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/sbt-2400.png"
                                                    style="width: 80px; height: 58px;"><br _ngcontent-jnw-c35="">
                                                SBT-2400 </a></figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/tcr-25xx.png"
                                                    style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                TCR-25xx </a></figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/tct-25x1.png"
                                                    style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                TCT-25x1 </a></figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mct-2000.png"
                                                    style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                MCT-2000 </a></figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mcs-1000.png"
                                                    style="width: 100px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                MCS-1000 </a></figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35=""><a _ngcontent-jnw-c35="" routerlink="/product/1"
                                                class="anchor" ng-reflect-router-link="/product/1"
                                                ng-reflect-query-params="[object Object]"
                                                ><img
                                                    _ngcontent-jnw-c35=""
                                                    src="../../assets/instrument_pro/mps-pps-1000.png"
                                                    style="width: 100px; height: 60px;"><br _ngcontent-jnw-c35="">
                                                MPS-/PPS-1000 </a></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div *ngIf="productId == '60c863a48f264800152a3851' || productId == '60c8634f8f264800152a3837'" _ngcontent-jnw-c35="" class="container col-sm-10">
                        <div _ngcontent-jnw-c35="" class="row mx-auto">
                            <div _ngcontent-jnw-c35="" class="col-sm-6"><img _ngcontent-jnw-c35="" src="../../assets/instrument-new.png" alt="" class="img-fluid"></div>
                            <div _ngcontent-jnw-c35="" class="col-sm-6">
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mek-3000.png" style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35=""> MEK-3000 </a>
                                        </figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/act-2500.png" style="width: 50px; height: 60px;"><br _ngcontent-jnw-c35=""> ACT-2500 </a>
                                        </figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mbt-2500.png" style="width: 90px; height: 60px;"><br _ngcontent-jnw-c35=""> MBT-2500 </a>
                                        </figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/sbt-2400.png" style="width: 80px; height: 58px;"><br _ngcontent-jnw-c35=""> SBT-2400 </a>
                                        </figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/tcr-25xx.png" style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35=""> TCR-25xx </a>
                                        </figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/tct-25x1.png" style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35=""> TCT-25x1 </a>
                                        </figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mct-2000.png" style="width: 80px; height: 60px;"><br _ngcontent-jnw-c35=""> MCT-2000 </a>
                                        </figure>
                                    </div>
                                </div>
                                <div _ngcontent-jnw-c35="" class="row1">
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mcs-1000.png" style="width: 100px; height: 60px;"><br _ngcontent-jnw-c35=""> MCS-1000 </a>
                                        </figure>
                                    </div>
                                    <div _ngcontent-jnw-c35="" class="column">
                                        <figure _ngcontent-jnw-c35="">
                                            <a _ngcontent-jnw-c35="" class="anchor" ng-reflect-router-link="/product/1" ng-reflect-query-params="[object Object]"><img _ngcontent-jnw-c35="" src="../../assets/instrument_pro/mps-pps-1000.png" style="width: 100px; height: 60px;"><br _ngcontent-jnw-c35=""> MPS-/PPS-1000 </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </div>

            </div>
        </section>



    </div>
</div>