<div>

    <div class="red-title-banner">
        <h2 class="text-white">Team</h2>

    </div>

    <section style="padding: 50px 0;">
        <div class="container">


            <div class="row mx-auto my-4">

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/download_brochure.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/2.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/3.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/4.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/5.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 text-center">
                    <figure>
                        <img src="../../../assets/teams/6.png" class="img-fluid">
                        <figcaption class="bold">Esther Howard</figcaption>
                        <figcaption>Designer</figcaption>
                    </figure>
                </div>


            </div>
        </div>
    </section>


</div>