<section style="padding: 50px 0;">
    <div class="container">


        <div class="row m-auto">
            <div class="col-sm-12 ">
                <div class="card border-0 rounded-0 shadow mx-4 my-4">
                    <div class="card-body testimonials">
                        <img src="../../../../assets/hero/quotes.png" />
                        <p class="ml-4 description">{{testArray.description}}</p>

                        <div class="row mt-4">
                            <div class="col-4">
                                <div class="img" style="background-image: url({{testArray.image}}); width: 64px; height: 64px; border-radius: 50%;background-size: cover !important;"></div>
                            </div>
                            <!-- <div class="col-4">
                                <img src="{{n.image}}" class="img-fluid" style="border-radius: 50%;" />
                            </div> -->
                            <div class="col-8">
                                <p class="white-space: nowrap;" class="mb-0">{{testArray.name}}</p>

                                <small>{{testArray.designation}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>