<div class="d-flex flex-column justify-content-center align-content-center" style="background: #fff; align-items: center;text-align: center;position: fixed;width: 100%;height: 100%;z-index: 9999;
" *ngIf="isLoading">
    <img src="../../assets/svg-btg.svg" alt="" class="img-fluid" style="width: 10% !important;height: auto;">
    <img src="../../assets/loaderred.gif" alt="" style="width: 7% !important;height: auto;">
</div>


<div *ngIf="!isLoading">
    <div *ngIf="showComingSoon" class="container-fluid">
        <div class="row">

            <div class="col-sm-3">

                <app-side-nav [catNameId]="catNameId" [productId]="productId" [subNameId]="subNameId" [catName]="catName" [subname]="subname" [level]="level"></app-side-nav>
            </div>
            <div class="col-sm-9">
                <app-coming-soon></app-coming-soon>
            </div>
        </div>

    </div>


    <div *ngIf="!showComingSoon">

        <div class="red-title-banner">
            <h2 class="text-white" [innerHTML]="productsData.heading"> </h2>
        </div>
        <nav aria-label="breadcrumb" class="bread-crum">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/catagory/1" [queryParams]="{name: catName , id:catNameId}">{{catName}}</a></li>
                <li class="breadcrumb-item"><a routerLink="/subcatagory/{{subNameId}}" [queryParams]="{catname : catName ,catId:catNameId, subname:subName,level:2}">{{subName}}</a></li>
                <li class="breadcrumb-item"><a href="#">{{subSubName}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{pName}}</li>
            </ol>
        </nav>

        <section style="padding:0 0 50px 0">
            <div class="container-fluid">


                <div class="row">

                    <div class="col-sm-3">

                        <app-side-nav [catNameId]="catNameId" [productId]="productId" [subNameId]="subNameId" [catName]="catName" [subname]="subname" [level]="level"></app-side-nav>
                    </div>


                    <div class="col-sm-9">


                        <div class="row mx-auto">

                            <!-- Section One -->
                            <div *ngIf="!productsData?.sectionOne?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionOne?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionOne?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionOne?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section One End -->

                            <!-- Section Two -->
                            <div *ngIf="!productsData?.sectionTwo?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionTwo?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionTwo?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTwo?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Two End -->

                            <!-- Section Three -->
                            <div *ngIf="!productsData?.sectionThree?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionThree?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionThree?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionThree?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Three Emd -->

                            <!-- Section Four -->
                            <div *ngIf="!productsData?.sectionFour?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionFour?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionFour?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionFour?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Four End -->

                            <!-- Section Five -->
                            <div *ngIf="!productsData?.sectionFive?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionFive?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionFive?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionFive?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Five Emd -->

                            <!-- Section Six -->
                            <div *ngIf="!productsData?.sectionSix?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionSix?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionSix?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionSix?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Six End -->

                            <!-- Section Seven -->
                            <div *ngIf="!productsData?.sectionSeven?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionSeven?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionSeven?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionSeven?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Seven Emd -->

                            <!-- Section Eight -->
                            <div *ngIf="!productsData?.sectionEight?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionEight?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionEight?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionEight?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Eight End -->

                            <!-- Section Nine -->
                            <div *ngIf="!productsData?.sectionNine?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionNine?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionNine?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionNine?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Nine Emd -->

                            <!-- Section Ten -->
                            <div *ngIf="!productsData?.sectionTen?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionTen?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionTen?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTen?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Ten End -->

                            <!-- Section Eleven -->
                            <div *ngIf="!productsData?.sectionEleven?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionEleven?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionEleven?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionEleven?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Eleven Emd -->

                            <!-- Section Twelve -->
                            <div *ngIf="!productsData?.sectionTwelve?.includes('Lorem Ipsum')" class="col-sm-6 " [class.downloadCenter]="productsData?.sectionTwelve?.includes('Download')" [class.hoverr]="(level == 2 || level == 3) && !(productsData?.sectionTwelve?.includes('#no_red_card#'))"
                                [innerHTML]="productsData?.sectionTwelve?.replace('#no_red_card#', ' ')"></div>
                            <!-- Section Twelve End -->
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section style="padding:50px 0;">
            <div class="container">
                <h4 class="text-center my-5"> Data Sheet</h4>
                <div *ngIf="isLoggedIn">
                    <mat-tab-group (selectedTabChange)="tabChanged($event)">
                        <mat-tab *ngFor="let tabtitle of dataSheetCategories; let index = index" class="tab-title">
                            <ng-template mat-tab-label>

                                <span style="font-weight: 750; font-size: large;color: black;">{{tabtitle.name}}</span>


                                <!-- (click)="openFormDialog('add', 'category', id)"                         -->
                            </ng-template>
                            <mat-selection-list>

                                <div *ngIf="dataSheets?.length == 0">No Data Found</div>
                                <div class=" row" *ngFor="let d of dataSheet">


                                    <div class="col-sm-7">
                                        {{ d.name }}
                                    </div>

                                    <div class="col-sm-5">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select Language</mat-label>
                                            <select matNativeControl required (change)="getLanguage($event , d.id)">
                                                <option value="{{s | json}}" *ngFor="let s of d.sheets">{{ s.language }}
                                                </option>

                                            </select>
                                        </mat-form-field>

                                        <!-- <select class="btn btn-danger font-weight-bold" (change)="getLanguage($event , d.id)">
                                            <option value="{{s | json}}" *ngFor="let s of d.sheets">{{ s.language }}
                                            </option>
                                        </select> -->

                                        <button class="btn btn-danger float-right mx-2" style="padding: 3%;" mat-button (click)="downloads(tabtitle._id , d.id)">

                                            <a [href]="d.selected" style="color: #fff;">Download</a>
                                        </button>

                                        <button class="btn btn-danger float-right mx-2" style="padding: 3%;" mat-button>
                                            <a routerLink="/view-pdf" style="color: #fff;"
                                                [queryParams]="{url:d.selected}">View</a>
                                        </button>
                                    </div>





                                    <!-- <button class="btn btn-danger float-right mx-2" mat-button [matMenuTriggerFor]="menu">Download</button> -->
                                    <!-- <mat-menu #menu="matMenu">
                                        <a href="{{ s.url }}" target="_blank" *ngFor="let s of d.sheets"><button mat-menu-item>{{ s.language }}</button></a>
                                        
                                    </mat-menu> -->


                                    <!-- <button class="btn btn-danger float-right mx-2" mat-button [matMenuTriggerFor]="view">View</button> -->
                                    <!-- <mat-menu #view="matMenu">
                                        <a routerLink="/view-pdf" [queryParams]="{url:s.url}" *ngFor="let s of d.sheets">
                                            <button mat-menu-item>{{ s.language }}</button>

                                        </a>
                                    </mat-menu> -->
                                    <!-- <button class="btn btn-danger float-right mx-2" mat-button [matMenuTriggerFor]="menu" (change)="getLanguage($event)">Select language</button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let s of d.sheets">{{ s.language }}</button>

                                    </mat-menu> -->



                                </div>


                                <!-- <button (click)="openFormDialog('add', 'datasheet', id, tabtitle._id)" mat-flat-button color="accent" class=" my-3">Add Data Sheet for {{ tabtitle.name }}</button> -->
                            </mat-selection-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="data-sheet" *ngIf="!isLoggedIn">



                    <div class="text-center">
                        <button class="btn btn-lg my-2 btn-danger" [innerHTML]="productsData.heading" (click)="seeDataSheet()"></button>
                        <!-- <p class="mb-0  my-2" style="text-align: center !important;">Also previous MEK generation is available
                        </p>
                        <button class="btn btn-lg my-2 btn-danger">See Product Sheet MEK-2500</button> -->
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>