.fb {
    font-size: 30px;
    color: #4267B2;
}

.fb:hover {
    font-size: 30px;
    color: #6d86b8 !important;
}

.twit {
    font-size: 30px;
    color: #FF0000;
}

.twit:hover {
    font-size: 30px;
    color: #ec3e3e !important;
}

.link {
    font-size: 30px;
    color: #0077b5;
}

.link:hover {
    font-size: 30px;
    color: #3face7 !important;
}