<div>

    <div class="red-title-banner">
        <h2 class="text-white"> {{historyData[0]?.heading}} </h2>

    </div>
    <nav aria-label="breadcrumb" class="bread-crum">
        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a routerLink="/about">About</a></li>
            <li class="breadcrumb-item active" aria-current="page">History</li>
        </ol>
    </nav>
    <section style="padding: 50px 0;">
        <div class="container">


            <div class="row mx-auto my-4">




                <div class="col-sm-12 text-justify d-inline-block" [innerHTML]="historyData[0]?.content">

                </div>
            </div>
        </div>
    </section>


</div>